.wrapper{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    background-color: var(--pageBackground);
}

#board{
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    background-color: var(--wrapperBorderBackground);
    border-radius: 4px;
    border: 3px solid black;
    padding: 10px;
    width: 480px;
    height: 480px;

}
.square{
    width: 60px;
    height: 60px;

}
.black{
    background-color: #769656;
}
.white{
    background-color: #eeeed2;
}