<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Game</title>
    <link type="text/css" rel="stylesheet" href="/static/css/game.css">
    <link type="text/css" rel="stylesheet" href="/static/css/rootVaribles.css">
    <script type="module" src="/static/js/boardRender.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<iframe src="hader.html" width="100%" height="60px"></iframe>
<div class="wrapper">
    <div id="board"></div>
</div>
</body>
</html>