<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hader</title>
    <link type="text/css" rel="stylesheet" href="/static/css/rootVaribles.css">
    <link type="text/css" rel="stylesheet" href="/static/css/hader.css">


</head>
<body>
<div class="wrapper">
    <div class="btnWrapper">
        <a href="/pages/home" target="_top">Home</a>
    </div>
    <div class="btnWrapper">
        <a href="/pages/logout" target="_top">logout</a>
    </div>
    <div class="btnWrapper">
        <a href="/pages/chat" target="_top">chat</a>
    </div>
    <div class="btnWrapper">
        <a href="/pages/users" target="_top">users</a>
    </div>
    <div class="btnWrapper">
        <a href="/pages/friendsList" target="_top">friendsList</a>
    </div>
</div>
</body>
</html>