<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="icon" href="data:,">

</head>
<body>
<h1>WebSocket Example</h1>
<div id="messages"></div>
<input type="text" id="messageInput" />
<button onclick="sendMessage()">Send</button>

<script type="text/javascript">
    var stompClient = null;

    function connect() {
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function (message) {
                showMessage(JSON.parse(message.body).content);
            });
        });
    }

    function sendMessage() {
        var messageContent = document.getElementById("messageInput").value;
        stompClient.send("/app/message", {}, JSON.stringify({'content': messageContent}));
    }

    function showMessage(message) {
        var messages = document.getElementById("messages");
        var messageElement = document.createElement("div");
        messageElement.appendChild(document.createTextNode(message));
        messages.appendChild(messageElement);
    }

    connect();
</script>
</body>
</html>
