<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link type="text/css" rel="stylesheet" href="/static/css/users.css">
    <link type="text/css" rel="stylesheet" href="/static/css/rootVaribles.css">
    <script type="module" src="/js/users.js"></script>

</head>
<body>
<iframe src="hader.html" width="100%" height="60px" ></iframe>
<div class="wrapper">
    <div class="search-group">
        <label>
            <input type="text" class="search-input" id="search-input">
        </label>
        <button class="send-btn" id="send-btn">Search</button>
    </div>
    <div class="users-list" id="users-list"></div>
</div>
</body>
</html>